<h1>Add stylist</h1>
<form action="/stylist/add" method="post">
  <label for="stylist_name"></label>
  <input type="text" name="stylist_name">
  <button type="submit" name="button">Add Stylist</button>
</form>
