<h3>New Stylist</h3>
<form action="/stylist/add" method="post">
  <label for="stylist_name"></label>
  <input name="stylist_name" type="text">
  <button type="submit">Create New Stylist</button>
</form>
